
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/storage/
/var/storage/*
!/var/storage/avatars/
/var/storage/avatars/*
!/var/storage/avatars/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/node_modules/

# Fichiers de test Sass locaux
/test-out.css.map
/public/test-compile.css.map

###> symfonycasts/sass-bundle ###
/public/assets/
###< symfonycasts/sass-bundle ###
