<div class="table-responsive px-2 pb-3">
    <table class="table align-middle table-hover mb-0 ef-GroupShow__card-table">
        <thead>
            <tr>
                <th class="ps-4 py-3 border-0">{{ 'ui.groups.invite.column_name'|trans }}</th>
                <th class="py-3 border-0">{{ 'ui.groups.invite.column_pseudo'|trans }}</th>
                <th class="py-3 border-0 text-end pe-4">{{ 'ui.groups.invite.column_action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% include 'groups/_user_invite_row.html.twig' with {
                    group: group,
                    user: user,
                    rules: userStatusRules[user.id]|default({ pending_or_invited: false, refused_count: 0 }),
                    searchQuery: searchQuery|default(''),
                } %}
            {% endfor %}
        </tbody>
    </table>
</div>
