{% extends 'emails/_base.html.twig' %}

{% block email_title %}{{ 'email.account_deletion_done.title'|trans(locale=ef_email_locale) }}{% endblock %}

{% block email_body %}
    <p>{{ 'email.common.greeting_anonymous'|trans(locale=ef_email_locale) }}</p>
    <p>{{ 'email.account_deletion_done.body'|trans({
        '%date%': deletedAt|ef_datetime(ef_email_locale|default('fr')),
        '%timezone%': 'email.common.paris_time'|trans(locale=ef_email_locale),
    }, locale=ef_email_locale)|raw }}</p>
    <p style="font-size: 0.85rem; color: #c00;">{{ 'email.account_deletion_done.alert'|trans(locale=ef_email_locale)|raw }}</p>
{% endblock %}
