<div class="modal fade" id="ef-message-photo-view-modal" tabindex="-1" aria-labelledby="ef-message-photo-view-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5 mb-0" id="ef-message-photo-view-title">{{ 'ui.messages.group.photos.view_title'|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'ui.common.close'|trans }}"></button>
            </div>
            <div class="modal-body p-0 ef-messages__photo-view-body text-center">
                <img src="" alt="" class="ef-messages__photo-view-img" id="ef-message-photo-view-image" draggable="false">
            </div>
        </div>
    </div>
</div>
